# Каноничная личность
Mike <mikhail.rez77@gmail.com> Mike <m.reztsov@MacBook-Pro-Michael.local>

# Схлопываем все варианты h4xx-d3nt1st в Mike
Mike <mikhail.rez77@gmail.com> h4xx-d3nt1st <mikhail.rez77@gmail.com>
Mike <mikhail.rez77@gmail.com> h4xx-d3nt1st <h4xx-d3nt3st@github.com>
Mike <mikhail.rez77@gmail.com> <12345678+h4xx-d3n1st@users.noreply.github.com>